<app-header></app-header>

<div class="container mt-3">
  <div class="content">

    <h2>Employee List</h2>

    <ng-template #noData>
      <div class="alert alert-danger mt-5 text-center" role="alert">
        <h4 class="alert-heading">No Employee Found!</h4>
      </div>
    </ng-template>

    <table *ngIf="employeeList.length; else noData" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Department</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList; index as i;">
          <th scope="row">{{i+1}}</th>
          <td>{{employee.firstName | titlecase}}</td>
          <td>{{employee.lastName | titlecase}}</td>
          <td>{{employee.departmentName | titlecase}}</td>
          <td>
            <a (click)="deleteEmployee(employee.id)" class="btn btn-danger ml-1">
              Delete
            </a>

            <a routerLink="/employee/edit/{{employee.id}}"  class="btn btn-primary ml-1 mr-1">
              Edit
            </a>

            <a routerLink="/employee/view/{{employee.id}}" class="btn btn-info ml-1">
              View
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
