<app-header></app-header>

<div class="container mt-3">
  <div class="content">

    <h2>{{heading}}</h2>
    <hr>

    <div *ngIf="submitted && message" class="alert alert-danger mt-3" role="alert">
      {{message}}
    </div>

    <form *ngIf="employeeForm" [formGroup]="employeeForm">

      <div class="form-group">
        <label for="fname">First Name*</label>
        <input pattern="[a-zA-Z]*" formControlName="firstName" type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>

        <div *ngIf="submitted && employeeForm.get('firstName').errors"  class="invalid-error">
          <div *ngIf="employeeForm.get('firstName').errors.required" class="invalid-message">Please fill out this field.</div>
          <div *ngIf="employeeForm.get('firstName').errors.pattern" class="invalid-message">Invalid First Name.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lname">Last Name*</label>
        <input pattern="[a-zA-Z]*" formControlName="lastName" type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="uname" required>
        <div *ngIf="submitted && employeeForm.get('lastName').errors"  class="invalid-error">
          <div *ngIf="employeeForm.get('lastName').errors.required" class="invalid-message">Please fill out this field.</div>
          <div *ngIf="employeeForm.get('lastName').errors.pattern" class="invalid-message">Invalid Last Name.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="dob">DOB*</label>
        <input type="text"
               id="dob"
               formControlName="dob"
               required
               [minDate]="minDate"
               [maxDate]="maxDate"
               [bsConfig]=bsDateConfig
               placeholder="DD/MM/YYYY"
               autocomplete="off"
               class="form-control"
               bsDatepicker>
        <div *ngIf="submitted && employeeForm.get('dob').errors"  class="invalid-error">
          <div *ngIf="employeeForm.get('dob').errors.required" class="invalid-message">Please fill out this field.</div>
          <div *ngIf="employeeForm.get('dob').errors.bsDate && employeeForm.get('dob').errors.bsDate.invalid" class="invalid-message">Invalid date.</div>
          <div *ngIf="employeeForm.get('dob').errors.bsDate && (employeeForm.get('dob').errors.bsDate.maxDate || employeeForm.get('dob').errors.bsDate.minDate )" class="invalid-message">Age Must be greater than 20 and less than 60.</div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label>Gender*</label>
        </div>

        <div class="form-check-inline">
          <label class="form-check-label">
            <input formControlName="gender" type="radio" class="form-check-input" name="gender" value="male" checked>Male
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input formControlName="gender" type="radio" class="form-check-input" name="gender" value="female">Female
          </label>
        </div>
        <div class="form-check-inline disabled">
          <label class="form-check-label">
            <input formControlName="gender" type="radio" class="form-check-input" name="gender" value="other">Other
          </label>
        </div>
        <div *ngIf="submitted && employeeForm.get('gender').errors"  class="invalid-error">
          <div *ngIf="employeeForm.get('gender').errors.required" class="invalid-message">Please fill out this field.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="department">Department*</label>
        <select formControlName="departmentName" class="form-control" id="department" required>
          <option value="">Select Department</option>
          <option *ngFor="let department of departmentList" value="{{department.departmentName}}">{{department.departmentName}}</option>
        </select>
        <div *ngIf="submitted && employeeForm.get('departmentName').errors"  class="invalid-error">
          <div *ngIf="employeeForm.get('departmentName').errors.required" class="invalid-message">Please fill out this field.</div>
        </div>
      </div>

      <div *ngIf="requestType === 'add'" class="float-right">
        <button routerLink="/employee/list" class="btn btn-danger mr-3">Cancel</button>
        <button (click)="addNewEmployee()" class="btn btn-primary">Submit</button>
      </div>

      <div *ngIf="requestType === 'edit'" class="float-right">
        <button routerLink="/employee/list" class="btn btn-danger mr-3">Cancel</button>
        <button (click)="updateEmployee()" class="btn btn-primary">Update</button>
      </div>

      <div *ngIf="requestType === 'view'" class="float-right">
        <button routerLink="/employee/list" class="btn btn-danger mr-3">Back</button>
        <button routerLink="/employee/edit/{{(employee && employee.id)?employee.id:''}}" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
</div>
