<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand d-lg-none d-sm-block" routerLink="/employee">EMS</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#menuToggle"
          aria-controls="menuToggle"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menuToggle">
    <a class="navbar-brand" routerLink="/employee">Employee Management System</a>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link" routerLink="/employee/list">Employee List</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link" routerLink="/employee/add">New Employee</a>
      </li>
    </ul>
  </div>
</nav>
